#
# Novatek NT36xxx touchscreen driver configuration
#
config TOUCHSCREEN_NVT_A
	tristate "Novatek touchscreens NT36xxx"
	help
		Say Y here if you have a Novatek NT36xxx touchscreen connected
		to your system.
		
		If unsure, say N.

config BOOT_FW_UPDATE_NVT_A
	tristate "Enable boot firmware update"
	depends on TOUCHSCREEN_NVT_A
	default n
	help
		Say Y here if you want to enable boot firmware update for Novatek
		model 'A' touchpanel.

		If unsure, say N.
		Note: Pretty much useless and not working (After cleanup)

